<div id="listings" class="m-t-20">
  <div class="page-content-wrapper">
    <div class="content">
      <div class="container container-fixed-lg sm-p-l-20 sm-p-r-20">
        <div class="gallery no-margin">
          <% @listings.each do |listing| %>
            <div class="gallery-item " data-width="1" data-height="1">
              <%= link_to image_tag(listing.image.url(:big), class: "image-responsive-height card-image") , listing %>
              <div class="overlayer bottom-left full-width">
                <div class="overlayer-wrapper item-info ">
                  <div class="gradient-grey p-l-20 p-r-20 p-t-20 p-b-5">
                    <div class="">
                      <p class="pull-left bold text-white fs-14 p-t-10"><%= listing.name %></p>
                      <div class="clearfix"></div>
                    </div>
                    <div class="m-t-10">
                      <div class="thumbnail-wrapper d32 circular m-t-5">
                        <img width="40" height="40" src="assets/img/profiles/avatar.jpg" data-src="assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar2x.jpg" alt="">
                      </div>
                      <div class="inline m-l-10">
                        <p class="no-margin text-white fs-12"><%= "Post by #{listing.user.name}" %></p>
                      </div>
                      <div class="pull-right m-t-10">
                        <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




