<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>List your items for sale</h1>
      <!--<h2>Free Forever</h2>-->
      <p>View and find items for sale around Trinidad & Tobago</p>
    </div>

    <p>
      <% if user_signed_in? %>
        <%= link_to 'Post New Item', new_listing_path , class: "btn btn-primary btn-lg "%>
      <% else %>
        <a href="/users/auth/facebook" class="center-margin	">
          <button class="btn btn-lg btn-block btn-info" type="button"><span class="pull-left"><i class="fa fa-facebook"></i></span>
            <span class="bold">Login with Facebook</span>
          </button>
        </a>
      <% end %>
    </p>
  </div>
</div>



