/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * BEGIN VENDOR CSS FOR PAGES
 *= require normalize-rails
 *= require pages-plugins/pace/pace-theme-flash
 *= require _bootstrap-sprockets
 *= require _bootstrap
 *= require pages-plugins/font-awesome/css/font-awesome
 *= require pages-plugins/jquery-scrollbar/jquery.scrollbar
 *= require pages-plugins/bootstrap-select2/select2
 *= require pages-plugins/switchery/css/switchery.min
 *
 * BEGIN CORE TEMPLATE CSS FOR PAGES
 *= require pages-core/css/pages-icons
 *= require pages-core/css/pages
*/

@import "bourbon";
@import "refills/flashes";

@import "partials/navbar";
@import "partials/thumbnail";
@import "partials/listing";
@import "partials/pages";



@media only screen and (max-width: 767px) {
  .fb-comments {
    width: 100% !important;
  }
  .fb-comments iframe[style] {
    width: 100% !important;
  }
  .fb-like-box {
    width: 100% !important;
  }
  .fb-like-box iframe[style] {
    width: 100% !important;
  }
  .fb-comments span {
    width: 100% !important;
  }
  .fb-comments iframe span[style] {
    width: 100% !important;
  }
  .fb-like-box span {
    width: 100% !important;
  }
  .fb-like-box iframe span[style] {
    width: 100% !important;
  }
}
